# https (ngrok) public url
PUBLIC_URL=https://fl-cape-annotation-soil.trycloudflare.com

ZOOM_HOST="https://zoom.us"

# OAuth client credentials (from Marketplace)
# App Credentials > Development/Production > [Client ID, Client Secret]
ZOOM_APP_CLIENT_ID=""
ZOOM_APP_CLIENT_SECRET=""

# For 3rd party OAuth flow (Auth0 - optional)
# Refer to: https://auth0.com/docs/get-started

# Your Auth0 web app client ID
AUTH0_CLIENT_ID=""

# Your Auth0 web app client secret
AUTH0_CLIENT_SECRET=""

# Your Auth0 web app domain (ie. https://us.auth0.com)
AUTH0_ISSUER_BASE_URL=""
